.profilepicture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 0px 6px 5px #ccc;
    border: 3px solid #d0f0c0;
    border-radius: 200px;
}